
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@100&family=Old+Standard+TT:ital@1&family=Roboto:wght@400;500&display=swap');
$titulos: 'Roboto', sans-serif;


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Lobster&family=Montserrat:wght@100&family=Old+Standard+TT:ital@1&family=Work+Sans:wght@600&display=swap');
$texto:'Work Sans', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Inter:wght@200&family=Lobster&family=Montserrat:wght@100&family=Old+Standard+TT:ital@1&display=swap');
$textoP: 'IBM Plex Sans', sans-serif;
/*
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Montserrat:wght@100&family=Old+Standard+TT:ital@1&family=Roboto:wght@400;500&display=swap');
*/
