
footer{
    background-color: #202020;
    color: white;    
    width: 100%;
    .contenedor_todo_footer{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        padding: 10px;
        .contenedor{
            display: flex;
            justify-content:space-between;
            .columna_1{
                max-width: 400px;
                h3{
                    font-size: 18px;
                    color: #fff;
                    text-align: left;
                    margin-top: 40px;
                    margin-left: 10px;
                }
                p{
                    font-size: 14px;
                    color: #C7C7C7;
                    margin-top: 20px;
                }
            }
            .columna_2{
                max-width: 400px;
                
                h3{
                    font-size: 18px;
                    color: white;
                    margin-top: 40px;
                }
                .filas{
                    margin-top: 20px;
                    display: flex;
                    img{
                        width: 20%;
                        height: 35px;
                    }
                    label{
                        margin-top: 10px;
                        margin-left: 10px;
                        color: #C7C7C7;
                    }
                }
            }
            .columna_3{
                max-width: 400px;
                
                h3{
                    font-size: 18px;
                    color: white;
                    margin-top: 40px;
                }
                .row1{
                    margin-top: 20px;
                    display: flex;
                    img{
                        width: 15%;
                        height: 35px;
                    }
                    label{
                        margin-top: 10px;
                        margin-left: 10px;
                        color: #C7C7C7;
                    }
                }
            }
        }
        .contenedor_footer{
            color: white;
            display: flex;
            justify-content:space-between;
            .copyright{
                color: #C7C7C7;
            }
            .informacion{
                a{
                    text-decoration: none;
                    color: white;
                }
                
            }
        }
    }

}









/* INICIO FOOTER*/
/*
footer div h3{
    text-align: left;
    font-family:'Courier New', Courier, monospace;
    font-size: 15px;
    color:black;
    margin-top: 50px;
    margin-left: 10px;
}

footer{
    background-color: #202020;
    color: white;    
    width: 100%;       
}

.contenedor_todo_footer{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}

.contenedor{
    display: flex;
    justify-content:space-between;
    
}

.columna_1{
    max-width: 400px;
}

.columna_1 h3{
    font-size: 20px;
    color: white;
}

.columna_1 p{
    font-size: 12px;
    color: #C7C7C7;
    margin-top: 20px;
}

.columna_2{
    max-width: 400px;
}

.columna_2 h3{
    font-size: 18px;
    color: white;
}

.columna_2 .filas{
    margin-top: 20px;
    display: flex;
}

.filas img{
    width: 20%;
    height: 35px;
}

.filas label{
    margin-top: 10px;
    margin-left: 10px;
    color: #C7C7C7;
}

.columna_3{
    max-width: 400px;
}

.columna_3 h3{
    font-size: 18px;
    color: white;
}

.row1{
    margin-top: 20px;
    display: flex;
}

.row1 img{
    width: 15%;
    height: 35px;
}

.row1 label{
    margin-top: 10px;
    margin-left: 10px;
    color: #C7C7C7; 
}

.contenedor_footer{
    
    color: white;
    display: flex;
    padding: 30px;
    justify-content:space-between;
}

.copyright{
    color: #C7C7C7;
}

.copyright a{
    text-decoration: none;
    color:white;
    
}

.informacion a{
    text-decoration: none;
    color: white;
}

/* FIN FOOTER*/







