

.navbar{
    .container-fluid{
        .navbar-brand{
            .imagen-logo{
                width: 120%;
                height: 70px;
            }
        }
        .navbar-nav{
            margin-left: auto;           
            .nav-link{
                color: white;
                text-transform: uppercase;
                margin: 15px;
                &:hover{
                    transition: 1.5s;    
                    transform: scale(1.1);    
                    background-color:rgb(87, 84, 84);
                    
                }
                
            }
        }
    }
}











