@import '../base/variables';

/* CCS LISTA DE REPRODUCCION*/ 
.seccion-lista{
    height: 800px;
    width: 100%;
    .div-lista{
        margin-top: 40px;
        margin-left: 5%;
        margin-right: 5%;
    }
}


/* FIN LISTA DE REPRODUCCION*/